body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #d4d3d3;
}
div.container {
  background: linear-gradient(#ff4d4d, #ffb3b3);
  width: 30%;
  height: 370px;
  margin: 60px auto;
  border-radius: 20px;
  box-shadow: 0 0 2px 2px white;
}
div.container h1,
p {
  color: white;
}
h3 {
  color: blue;
}

div.percent {
  padding-bottom: 5px;
  padding-top: 40px;
}
div.main {
  padding-bottom: 40px;
}

#numField1,
#numField2 {
  border: none;
  border-radius: 2px;
  height: 20px;
  padding-left: 4px;
}
.button {
  border: none;
  height: 30px;
  border-radius: 4px;
  background-color: grey
  color: white;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 30px;
  }
  div.container {
    width: 50%;
  }
  #numField1{
    margin-bottom: 4px;
  }
}
